<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/doudoufie.css" />
		<link rel="stylesheet" href="/iconfont/iconfont.css">
	</head>
	<body>
		<div class="nav">
			<div class="logo">
				<img src="/img/topLogo.png"/>
			</div>
			<ul>
				<li id="li1"><a href="#">
					<img src="/img/topmune_09.png">
					<p>等多模板堂产品</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_01.png">
					<p>开店向导</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_02.png">
					<p>记事本</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_03.png">
					<p>刷新</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_04.png">
					<p>个人设置</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_05.png">
					<p>管理员留言</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_06.png">
					<p>查看网店</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_007.png">
					<p>帮助</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_07.png">
					<p>关于ECSHOP</p>
				</a></li>
				<li><a href="#">
					<img src="/img/qingchu.png">
					<p>清除缓存</p>
				</a></li>
				<li><a href="#">
					<img src="/img/topmune_08.png">
					<p>退出</p>
				</a></li>
			</ul>
		</div>
		<div class="nav2">
			<ul>
				<li><a href="/html/frist.html" target="content"id="a1">
					<img src="/img/index-11_07.png"><p>起始页</p>
				</a><img src="/img/bg.png"></li>
				
				<li><a href="#" id="a2">
					<img src="/img/index-11_41.png"><p>设置导航栏</p>
				</a><img src="/img/bg.png"></li>
				
				</link><a href="#">
					<img src="/img/index-11_09.png"><p>商品管理</p><span>0</span>
				</a><img src="/img/bg.png"></link>
				
				<li><a href="#">
					<img src="/img/dd.png"><p>订单管理</p><span>0</span>
				</a><img src="/img/bg.png"></li>
				
				<li><a href="#">
					<img src="/img/index-11_13.png"><p>广告管理</p><span>0</span>
				</a><img src="/img/bg.png"></li>
				
				<li><a href="#">
					<img src="/img/index-11_13.png"><p>用户评论</p><span>0</span>
				</a><img src="/img/bg.png"></li>
				<li></li>
			</ul>
			<ol>
				<li><a href="#">商品列表</a></li>
				<li><a href="#">订单列表</a></li>
				<li><a href="#">用户评论</a></li>
				<li><a href="#">会员列表</a></li>
				<li><a href="#">商店设置</a></li>
				<li><a href="#">移动版</a></li>
				<li><a href="#">服务市场</a></li>
			</ol>
		</div>
		
		<div class="nav3">
			<dl>
				<dd>导航菜单</dd>
				<dt>
					<span class="iconfont icon-dingdan"></span>
					商品管理
					<i class="iconfont icon-jiahao"></i>
					<div class="dt1">
						<ul>
							<li><a href="/html/shopp.html" target="content">商品管理</a></li>
							<li><a href="#">添加新商品</a></li>
							<li><a href="#">商品分类</a></li>
							<li><a href="#">用户评论</a></li>
							<li><a href="#">商品品牌</a></li>
							<li><a href="#">商品类型</a></li>
							<li><a href="#">商品回收站</a></li>
							<li><a href="#">图片批量处理</a></li>
							<li><a href="#">商品批量上传</a></li>
							<li><a href="#">商品批量导出</a></li>
							<li><a href="#">生成商品代码</a></li>
							<li><a href="#">标签管理</a></li>
							<li><a href="#">虚拟商品列表</a></li>
							<li><a href="#">添加虚拟商品</a></li>
							<li><a href="#">更改加密串</a></li>
							<li><a href="#">商品自动下架</a></li>
						</ul>
					</div>
				</dt>
				<dt>
					<span class="iconfont icon-iconset0216"></span>
					促销管理
					<i class="iconfont icon-jiahao"></i>
					<div class="dt1">
						<ul>
							<li><a href="#">夺宝奇兵</a></li>
							<li><a href="#">红包类型</a></li>
							<li><a href="#">商品包装</a></li>
							<li><a href="#">祝福贺卡</a></li>
							<li><a href="#">团购活动</a></li>
							<li><a href="#">专题管理</a></li>
							<li><a href="#">拍卖活动</a></li>
							<li><a href="#">优惠活动</a></li>
							<li><a href="#">批量管理</a></li>
							<li><a href="#">超值礼包</a></li>
							<li><a href="#">积分商城商品</a></li>
						</ul>
					</div>
				</dt>
				<dt>
					<span class="iconfont icon-dingdan"></span>
					订单管理
					<i class="iconfont icon-jiahao"></i>
					<div class="dt1">
						<ul>
							<li><a href="#">订单管理</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
							<li><a href="#">缺货登记</a></li>
							<li><a href="#">添加订单</a></li>
							<li><a href="#">发货单列表</a></li>
							<li><a href="#">退货单列表</a></li>
						</ul>
					</div>
				</dt>
				<dt>
					<span class="iconfont icon-laba"></span>
					广告管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-baifenbi"></span>
					报表统计
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-icon-test"></span>
					文章管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-iconset0202"></span>
					会员管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-12quanxianguanli"></span>
					权限管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-dianshiji"></span>
					系统设置
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-icon-test"></span>
					模板管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-qian"></span>
					数据库管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-liuyanjianyi"></span>
					短信管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-zan"></span>
					推荐管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-youjianxinjian"></span>
					邮件群达管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-dianshiji"></span>
					移动版管理
					<i class="iconfont icon-jiahao"></i>
				</dt>
				<dt>
					<span class="iconfont icon-dianshiji"></span>
					模板堂知识库
					<i class="iconfont icon-jiahao"></i>
				</dt>
			</dl>
		</div>
		<div class="father">
			<iframe id="content" name="content" src="/html/frist.html"></iframe>
			<!--<iframe id="two" src=""></iframe>
			<iframe id="three" src=""></iframe>
			<iframe id="four" src=""></iframe>
			<iframe id="five" src=""></iframe>
			<iframe id="six" src=""></iframe>-->
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery-1.js" ></script>
	<script type="text/javascript" src="/js/doudoufie.js" ></script>
</html>