*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.right{
	background: #e7e7e7;
	overflow: hidden;
	padding: 10px;
}
.right-1 h3{
	font-size:18px;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #969896;
}
.right-1 h4{
	font-size:16px;
	font-weight: normal;
	color:red;
	height: 38px;
	line-height: 38px;
	border-bottom: 2px solid #000000;
}
.right-1 h4 a{
	color: #000000;
}
.right ul{
	height: 90px;
}
.right-1 ul li{
	margin-top:10px ;
	height:36px;
	border: 1px solid red;
	background: #ffffcc;
	color: red;
	line-height: 36px;
}
.div1{
	width: 317px;
	height: 80px;
	background: #41A5E1;
	float: left;
	margin-right:10px ;
	margin-top:7px ;
}
.div1 img{
	padding:10px;
}
.div1 p{
	float: right;
	font-size: 16px;
	color: white;
	padding-right: 10px;
	padding-top: 15px;
}
.div1 p span{
	font-size: 22px;
	font-weight:bold ;
	color: white;
	padding-left: 27px;
}
.div2{
	width: 317px;
	height: 80px;
	background: #28b779;
	float: left;
	margin-right:10px ;
	margin-top:7px ;
}
.div2 img{
	padding: 10px;
}
.div2 p{
	float: right;
	font-size: 16px;
	color: white;
	padding-right: 10px;
	padding-top: 15px;
}
.div2 p span{
	font-size: 22px;
	font-weight:bold ;
	color: white;
	padding-left: 81px;
}
.div3{
	width: 316px;
	height: 80px;
	background: #852b99;
	float: left;
	margin-right:10px ;
	margin-top:7px ;
}
.div3 img{
	padding: 10px;
}
.div3 p{
	float: right;
	font-size: 16px;
	color: white;
	padding-right: 10px;
	padding-top: 15px;
}
.div3 p span{
	font-size: 22px;
	font-weight:bold ;
	color: white;
	padding-left: 81px;
}
.div4{
	margin-top:7px ;
	width: 317px;
	height: 80px;
	background: #ffb848;
	float: left;
}
.div4 img{
	padding: 10px;
}
.div4 p {
	float: right;
	font-size: 16px;
	color: white;
	padding-right: 10px;
	padding-top: 15px;
}
.div4 p span{
	font-size: 22px;
	font-weight:bold ;
	color: white;
	padding-left: 81px;
}